# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Django migration files
*.log
*.sqlite3

# Ignore virtual environment
venv/
env/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore system files
Thumbs.db
.DS_Store
