{% extends "core/layout.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap5.min.css' %}">
<div class="pc-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Connection Details</h5>
          <small>List of active and historical connections.</small>
        </div>
        <div class="card-body">
          <div class="table-responsive dt-responsive">
            <table id="colum-render" class="table table-striped table-bordered nowrap">
              <thead>
                <tr>
                  <th class="ms-5">Source</th>
                  <th>Destination</th>
                  <th>Protocol</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for connection in connections %}
                <tr>
                  <td>{{ connection.source }}</td>
                  <td>{{ connection.destination }}</td>
                  <td>{{ connection.protocol }}</td>
                  <td>{{ connection.start_time }}</td>
                  <td>{{ connection.end_time|default:"Active" }}</td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button type="button" class="btn btn-success btn-sm btn-icon-text me-3">
                        Allow
                        <i class="typcn typcn-edit btn-icon-append"></i>                          
                      </button>
                      <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                        Block
                        <i class="typcn typcn-delete-outline btn-icon-append"></i>                          
                      </button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- datatable Js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/dataTables.bootstrap5.min.js' %}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Initialize DataTables
    $('#colum-render').DataTable({
      responsive: true, // Enable responsive feature
      paging: true, // Enable pagination
      searching: true, // Enable search bar
      ordering: true, // Enable column sorting
      info: true, // Show table information
    });
  });
</script>
{% endblock %}