{% extends "core/layout.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    
    <div class="row">
      
      <div class="col-xl-12 grid-margin stretch-card flex-column">
        <h5 class="mb-2 text-titlecase mb-4">Current Traffic</h5>
        <div class="row h-100">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-start flex-wrap">
                  <div>
                    <p class="mb-3">Monthly Increase</p>
                    <h3>67842</h3>
                  </div>
                  <div id="income-chart-legend" class="d-flex flex-wrap mt-1 mt-md-0"></div>
                </div>
                <canvas id="income-chart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->


  <!DOCTYPE html>
<html>
<head>
    <title>Control Flask App</title>
    <style>
        .loading {
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 3px solid rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            border-top-color: #000;
            animation: spin 1s ease-in-out infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Control Flask App</h1>
    <button id="start-button">Start Flask App</button>
    <button id="stop-button" class="hidden">Stop Flask App</button>
    <span id="loading" class="loading hidden"></span>

    <script>
    
    </script>
</body>
</html>
  {% endblock %}